<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/style.css">
</head>
<script>
    function removeProductFromCart(productUUID) {
        fetch(`/cart/remove/${productUUID}`, {
            method: "POST"
        }).then(response => {
            if (response.ok) window.location.reload();
        })
    }
    function addProductToCart(productUUID) {
        console.log(productUUID);
        fetch(`/cart/add/${productUUID}`, {
            method: "POST"
        }).then(response => {
            if (response.ok) window.location.reload();
        })
    }
    function checkout() {
        const data = new URLSearchParams();
        for (const pair of new FormData(document.getElementById("checkoutForm"))) {
            data.append(pair[0], pair[1]);
        }

        fetch("cart/checkout", {
            method: "POST",
            body: data
        }).then(response => {
            if (response.ok) window.location.href = "/";
        })

        return false;
    }
</script>
<style>
    :has(> .error-message) {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: 2em;
    }

    .error-message {
        color: red;
    }
</style>
<body>
<header>
    <a href="/">Employee Page</a>
</header>

<div class="container">
    <h1>Shopping Cart</h1>

    <div class="total">
        Total: €<span th:text="${total}">0.00</span>
    </div>

    <div th:if="${#lists.size(products) > 0}">
        <h2>Available Products</h2>
        <table>
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${products}">
                <td th:text="${product.getDisplayName()}">DISPLAY_NAME</td>
                <td th:text="${product.getPrice()} + ' €'">PRICE</td>
                <td>
                    <button class="btn-small" th:data-id="${product.getProductUUID()}" th:onclick="|addProductToCart(this.getAttribute('data-id'))|">
                    Add
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.size(products) <= 0}">
        <div class="error-message">
            No products available at the moment. Please check back later!
        </div>
    </div>

    <div>
        <h2>Your Cart</h2>
        <div th:if="${productsInCart.size() > 0}">
            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${productsInCart}">
                    <td th:text="${product.getDisplayName()}">DISPLAY_NAME</td>
                    <td th:text="${product.getPrice()} + ' €'">PRICE</td>
                    <td>
                        <button type="button" class="btn-danger btn-small" th:data-id="${product.getProductUUID()}" th:onclick="|removeProductFromCart(this.getAttribute('data-id'))|">
                        Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${productsInCart.size() <= 0}">
            <p class="info-box">Your cart is empty.</p>
        </div>
    </div>

    <div th:if="${productsInCart.size() > 0}">
        <h2>Checkout</h2>

        <form action="#" th:action="@{/cart/checkout}" th:object="${CheckoutModel}" method="post" onsubmit="return checkout();" id="checkoutForm">
            <label for="customerIdInput">Customer ID:</label>
            <input id="customerIdInput" type="number" name="customerId" required placeholder="Enter your customer ID">

        <label for="paymentMethodInput">Payment Method:</label>
        <input type="text" id="paymentMethodInput" name="paymentMethod" required>

            <input type="submit" value="Proceed to Payment">
        </form>
    </div>
</div>
</body>
</html>