<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<script>
    function removeProductFromCart(productUUID) {
        fetch(`/cart/remove/${productUUID}`, {
            method: "POST"
        }).then(response => {
            if (response.ok) window.location.reload();
        })
    }
    function addProductToCart(productUUID) {
        console.log(productUUID);
        fetch(`/cart/add/${productUUID}`, {
            method: "POST"
        }).then(response => {
            if (response.ok) window.location.reload();
        })
    }
</script>
<body>
<h1>Cart</h1>
<span th:text="${total}">TOTAL</span>
<div>
    <h2>Products that can be bought</h2>
    <table>
        <thead>
        <tr>
            <td>Product</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.getDisplayName()}">DISPLAY_NAME</td>
            <td th:text="${product.getPrice()}">PRICE</td>
            <td><button
                    th:data-id="${product.getProductUUID()}" th:onclick="|addProductToCart(this.getAttribute('data-id'))|">Add to cart</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>Products in cart</h2>
    <table>
        <thead>
        <tr>
            <td>Product</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productsInCart}">
            <td th:text="${product.getDisplayName()}">DISPLAY_NAME</td>
            <td th:text="${product.getPrice()}">PRICE</td>
            <td><button type="button" th:data-id="${product.getProductUUID()}" th:onclick="|removeProductFromCart(this.getAttribute('data-id'))|">Remove from cart</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>