<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Creation</title>
    <link rel="stylesheet" href="/style.css">

    <script>
        function saveProducts() {
            fetch("product/save").then(response => {
                if (response.ok) alert("Successfully stored.");
                else alert("There was an error");
            });
        }

        function removeProduct(productUUID) {
            fetch(`product/remove/${productUUID}`).then(response => {
                if (response.ok) location.reload();
            })
        }
    </script>
</head>
<body>
<a href="/sales">Sales page</a>
<h1>Product page</h1>
<p>If you are not an employee, please don't do anything and just go to our <a href="/cart">page for customers</a></p>
<div>
    <h2>New Product</h2>
    <form action="#" th:action="@{/product/new}" th:object="${Product}" method="post">
        <label for="displayNameInput">Display Name:</label>
        <input id="displayNameInput" type="text" name="displayName">

        <label for="priceInput">Price:</label>
        <input type="number" name="price" id="priceInput" step=".01">

        <input type="submit" value="Create">
    </form>
</div>
<h2>Products in Warehouse</h2>
<div>
    <table>
        <thead>
        <tr>
            <td>Display name</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.getDisplayName()}">DISPLAY_NAME</td>
            <td th:text="${product.getPrice()}">PRICE</td>
            <td><button th:data-id="${product.getProductUUID()}" th:onclick="|removeProduct(this.getAttribute('data-id'))|">Remove Product</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <button onclick="saveProducts()">Save to warehouse</button>
</div>
</body>
</html>